/* :::::::::::::::::::::::::::::::::::::: Section Styles */
.section {
	padding: 20px 25px;
	max-width: 1450px;
	margin: 0 auto 30px;
	&.section_alt {
		background: $athensgray;
		padding: 50px 25px;
		max-width: 100%;
	}
}
.section_inside {
	max-width: 1450px;
	margin: 0 auto;
}
/* :::::::::::::::: Section Navigation */
.section_nav {
	.dropdown {
		max-width: 800px;
		padding: 25px 0 5px 0;
		margin: 0 auto 20px;
		position: relative;
		border-bottom: 1px solid rgba($rollingstone, .23);
		text-align: center;
		&:hover {
			ul {
				opacity: 0;
				display: block;
				-webkit-animation: fadeinfrombottom .3s ease 1;
				-moz-animation: fadeinfrombottom .3s ease 1;
				animation: fadeinfrombottom .3s ease 1;
				animation-fill-mode: forwards;
				animation-delay: .4s;
			}
		}
		h2 {
			text-align: center;
			position: relative;
			display: inline-block;
			cursor: pointer;
			&:after {
				content: '';
				margin-left: 10px;
				display: inline-block;
				background-image: url(../images/icon-downarrow-darkblue.svg);
				background-size: 100%;
				background-repeat: no-repeat;
				width: 20px;
				height: 17px;
			}
		}
		ul {
			position: absolute;
			top: 99%;
			left: 50%;
			transform: translate(-50%, 0);
			display: none;
			list-style-image: none;
			border: 1px solid $athensgray;
			background: $white;
			padding-left: 0;
			width: 100%;
			max-width: 460px;
			@include dropshadow(0px, 3px, 6px, 0px, $black, .16);
		}
		li {
			list-style-type: none;
			border-bottom: 1.25px solid $athensgray;
			padding-left: 0;
			padding-bottom: 0;
			text-align: left;
		}
		a {
			-ms-font-feature-settings: normal;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			color: $limedspruce;
			padding: 20px 20px 20px 35px;
			display: block;
			border-left: 10px solid $white;
			font-weight: $font_bold;
			font-size: px_to_rem(13px);
			letter-spacing: XDunits_to_ems(30);
			@include transition(.1s);
			&:hover {
				border-left: 10px solid $yellow;
				color: $yellow;
			}
		}
	}
}
.section_nav_stick {
	background: $white;
	padding: 0 25px;
	top: 0;
	position: relative;
	&.fixed {
		position: fixed;
		z-index: 10;
		top: -300px;
		@include slideintoptitle(-300px, 70px, .2s);
		left: 0;
		width: 100%;
		.dropdown {
			margin-bottom: 0;
		}
		h2 {
			font-size: px_to_rem(22px);
			line-height: px_to_decimal(28px, 22px);
			letter-spacing: XDunits_to_ems(120);
		}
	}
	&.absolute.fixed {
		position: absolute;
	}
}
/* :::::::::::::::: Section Break */
.section_break {
	max-width: 800px;
	text-align: center;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background: rgba($rollingstone, .23);
	}
	p {
		padding-bottom: 15px;
		font-size: px_to_rem(16px);
		line-height: px_to_decimal(27px, 16px);
	}
}
/* :::::::::::::::: Section Page Header */
.section_pageheader {
	position: relative;
	overflow: hidden;
	text-align: center;
	display: block;
	@include displaygrid();
	@include centergrid();
	min-height: 265px;
	background-size: cover;
	background-position: center top;
	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .8;
		background: -moz-linear-gradient(-45deg, rgba(51,62,72,1) 0%, rgba(51,62,72,1) 32%, rgba(53,79,95,1) 42%, rgba(64,180,229,0.7) 100%);
background: -webkit-linear-gradient(-45deg, rgba(51,62,72,1) 0%,rgba(51,62,72,1) 32%,rgba(53,79,95,1) 42%,rgba(64,180,229,0.7) 100%);
background: linear-gradient(135deg, rgba(51,62,72,1) 0%,rgba(51,62,72,1) 32%,rgba(53,79,95,1) 42%,rgba(64,180,229,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#b340b4e5',GradientType=1 );
		background-size: 600% 600%;
		-webkit-animation: Gradient 10s ease infinite;
		-moz-animation: Gradient 10s ease infinite;
		animation: Gradient 10s ease infinite;
	}
	h1, h2, h3, h4, h5, p, a {
		color: $white;
	}
}
.section_pageheader_text {
	max-width: 1450px;
	margin: 0 auto;
	z-index: 3;
	padding: 0 20px;
	text-align: center;
	position: relative;
	align-self: center;
	justify-self: center;
	color: $white;
	h1 {
		color: $white;
		font-size: px_to_rem(38px);
		line-height: px_to_decimal(36px, 38px);
		letter-spacing: XDunits_to_ems(30);
		font-weight: $font_semibold;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	h2 {
		color: $white;
		font-size: px_to_rem(20px);
		line-height: px_to_decimal(24px, 20px);
		letter-spacing: XDunits_to_ems(80);
		font-weight: $font_medium;
		text-transform: uppercase;
		margin-bottom: 20px;
		font-family: $main_font;
	}
}
.no-cssgrid {
	.section_pageheader {
		display: block;
		width: 100%;
	}
	.section_pageheader_text {
		display: table-cell;
		vertical-align: middle;
	}
}
/* :::::::::::::::: Intro section */
.section_intro {
	max-width: 800px;
	text-align: center;
	margin-bottom: 0;
	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background: rgba($rollingstone, .23);
	}
	p {
		padding-bottom: 35px;
		font-size: px_to_rem(16px);
		line-height: px_to_decimal(27px, 16px);
	}
}

/* :::::::::::::::: Image overlap section */
.section_imgoverlap {
	.section_contentbox {
		background: $white;
		padding: 20px 20px 50px 0;
		width: 100%;
		position: relative;
		z-index: 2;
	}
	.section_image {
		z-index: 1;
		position: static;
		img {
			width: 100%;
		}
	}
}
/* :::::::::::::::: Image CTA section */
.image_cta {
	padding: 20px 0 30px;
	img {
		width: 100%;
		display: block;
	}
	.image_cta_msg {
		background: $gray;
		padding: 30px 20px;
	}
	h4, h5 {
		color: $yellow;
		margin-bottom: 5px;
	}
	h4 {
		letter-spacing: XDunits_to_ems(120);
		line-height: px_to_decimal(22px, 16px);
		font-weight: $font-semibold;
	}
	h5 {
		font-style: italic;
		font-weight: $font_light;
		font-size: px_to_rem(14px);
		line-height: px_to_decimal(22px, 14px);
		letter-spacing: XDunits_to_ems(20);
	}
	p {
		color: $white;
		margin-bottom: 0;
		font-size: px_to_rem(14px);
		line-height: px_to_decimal(23px, 14px);
	}
}
/* :::::::::::::::: dark CTA section */
.section_cta {
	background: $limedspruce;
	text-align: center;
	max-width: 100%;
	padding: 40px 20px;
	.section_inside {
		max-width: 850px;
		margin: 0 auto;
	}
	h2 {
		color: $yellow;
	}
	p {
		color: $white;
	}
	.button {
		background: $limedspruce;
		border-color: $yellow;
		color: $yellow;
		&:after {
			background: url(../images/icon-rightarrow-yellow.svg) no-repeat top left;
			background-size: 8px 12px;
		}
		&:hover {
			color: $white;
			border-color: $white;
			&:after {
				background: url(../images/icon-rightarrow.svg) no-repeat top left;
				background-size: 8px 12px;
			}
		}
	}
}
/* :::::::::::::::: 3 col section */
.section_3col {
	.section_col1, .section_col2 {
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid rgba($rollingstone, .23);
	}
	img {
		padding-bottom: 20px;
	}
}

@media screen and (min-width:800px) {
	.section_challenges {
		max-width: 1450px;
		margin: 0 auto;
		.backuptitle {
			display: none;
		}
		.desktopbtn {
			float: right;
			display: block;
			margin-top: 10px;
		}
		.mobilebtn {
			display: none;
		}
	}
	.section_imgoverlap {
		position: relative;
		padding-top: 0;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			background: $white;
			top: 100px;
			left: 30px;
			width: 50%;
			height: 90%;
			height: calc(100% - 40px);
			z-index: 2;
		}
		.section_contentbox {
			position: relative;
			width: 50%;
			margin-top: 30px;
			background: none;
		}
		.section_image {
			width: 50%;
			position: absolute;
			top: 20px;
			right: 25px;
			z-index: 1;
			margin-top: 0;
		}
	}
	.section_imgoverlap.image_left {
		&:before {
			left: auto;
			right: 30px;	
			top: 30px;
		}
		.section_image {
			right: auto;
			left: 25px;
		}
		.section_contentbox {
			float: right;
		}
	}
	.section_cta {
		padding: 60px 20px;
	}
	/* :::::::::::::::: 3 col section */
	.section_3col {
		@include displaygrid();
		@include gridcolumns(1fr 1fr);
		margin: 0 -50px;
		.section_col1, .section_col2 {
			border-bottom: none;
		}
		.section_col1, .section_col2, .section_col3{
			padding: 0 50px 50px;
		}
		.section_col1 {
			border-right: 1px solid rgba($rollingstone, .23);
		}
	}
	.no-cssgrid {
		.section_3col {
			overflow: hidden;
			display: block;
			.section_col1, .section_col2, .section_col3 {
				width: 50%;
				float: left;
				min-height: 550px;
			}
		}
	}
	.section_nav_stick {
		&.fixed {
			@include slideintoptitle(-300px, 90px, .2s);
		}
	}
}
@media screen and (min-width:1000px) {
	/* :::::::::::::::::::::::::::::::::::::: Section Intro */
	.section_intro {
		padding: 60px 25px 40px;
		p {
			font-size: px_to_rem(18px);
			line-height: px_to_decimal(30px, 18px);
		}
	}
	/* :::::::::::::::: Section Page Header */
	.section_pageheader_text { 
		padding-top: 30px;
		h1 {
			font-size: px_to_rem(50px);
			line-height: px_to_decimal(30px, 50px);
			letter-spacing: XDunits_to_ems(25);
			margin-bottom: 13px;
		}
		h2 {
			font-size: px_to_rem(23px);
			line-height: px_to_decimal(30px, 23px);
			letter-spacing: XDunits_to_ems(80);
			margin-bottom: 27px;
		}
	}
	/* :::::::::::::::::::::::::::::::::::::: Full width image CTA */
	.image_cta {
		position: relative;
		padding: 20px 25px 30px;
		margin: 0 auto 70px;
		.image_cta_msg {
			position: absolute;
			bottom: 30px;
			max-width: 486px;
			padding: 40px;
			&.cta_right {
				right: 25px;
			}
			&.cta_left {
				left: 25px;
			}
		}
		img {
			display: block;
		}
		p {
			font-size: px_to_rem(15px);
			line-height: px_to_decimal(25px, 15px);
		}
	}
	/* :::::::::::::::::::::::::::::::::::::: 2 col section */
	.section_twocol {
		overflow: hidden;
		.section_col1 {
			width: 50%;
			float: left;
			padding-right: 20px;
		}
		.section_col2 {
			width: 50%;
			float: right;
			padding-left: 20px;
		}
	}
}
@media screen and (min-width:1200px) {
	.section_pageheader {
		min-height: 375px;	
	}
	/* :::::::::::::::: Section Page Header */
	.section_pageheader_text { 
		h1 {
			font-size: px_to_rem(60px);
			line-height: px_to_decimal(36px, 60px);
			letter-spacing: XDunits_to_ems(30);
		}
		h2 {
			font-size: px_to_rem(28px);
			line-height: px_to_decimal(36px, 28px);
			letter-spacing: XDunits_to_ems(100);
		}
	}
	/* :::::::::::::::: 3 col section */
	.section_3col {
		@include displaygrid();
		@include gridcolumns(1fr 1fr 1fr);
		margin: 0 auto;
		.section_col1, .section_col2 {
			border-bottom: none;
		}
		.section_col1, .section_col2, .section_col3 {
			padding: 0 50px 50px;
		}
		.section_col1 {
			border-right: 1px solid rgba($rollingstone, .23);
		}
		.section_col2 {
			border-right: 1px solid rgba($rollingstone, .23);
		}
	}
	.no-cssgrid {
		.section_3col {
			overflow: hidden;
			display: block;
			.section_col1, .section_col2, .section_col3 {
				width: 30%;
				float: left;
				min-height: 550px;
			}
		}
	}
	.section_nav_stick {
		&.fixed {
			@include slideintoptitle(-300px, 105px, .2s);
			h2 {
				font-size: px_to_rem(44px);
				line-height: px_to_decimal(50px, 44px);
			}
		}
	}
}