/* :::::::::::::::::: Brand Base Colors */
$darkblue: #276092;
$lightblue: #40B4E5;
$yellow: #F7B352;
$gray: #333E48;
$lightgray: #A5ACAF;
$red: #C30045;
$purple: #6E267B;

/* :::::::::::::::::: Extra colors */ 
$black: #000000;
$white: #ffffff;

/* Grays dark to light */
$codgray: #1C1C1C;
$mako: #3E4249;
$dovegray: #707070;
$rollingstone: #70767a;
$athensgray: #F0F0F1;

/* blues dark to light */
$limedspruce: #333E48;
$stormyblue: #313D48;
$bismark: #45768E;


/* Gradients */


/* Fonts */
$main_font: 'Montserrat', helvetica, arial, sans-serif;
$narrow: 'Open Sans', Arial, helvetica, sans-serif;


$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;

$imagePath: "../images";