/* :::::::::::::::::: Brand Base Colors */
/* :::::::::::::::::: Extra colors */
/* Grays dark to light */
/* blues dark to light */
/* Gradients */
/* Fonts */
/* Functions */
/* Mixins */
/* Animations */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-moz-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-webkit-keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-moz-keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 8, ../sass/ie.scss */
h1, .h1 {
  font-size: 3.75em;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

/* line 13, ../sass/ie.scss */
h2, .h2 {
  font-size: 2.875em;
  line-height: 0.97826;
}

/* line 17, ../sass/ie.scss */
h3, .h3 {
  font-size: 1.5625em;
  line-height: 0.88;
  letter-spacing: 0.12em;
}

/* line 22, ../sass/ie.scss */
h4, .h4 {
  font-size: 1em;
  line-height: 1.375;
  letter-spacing: 0.12em;
}

/* line 27, ../sass/ie.scss */
p {
  font-size: 1em;
  line-height: 1.875;
}

/* line 32, ../sass/ie.scss */
button:after, button.alt:after {
  display: none;
}

/* line 37, ../sass/ie.scss */
.fancycaption h4 {
  font-size: 1em;
  line-height: 1.375;
}
/* line 41, ../sass/ie.scss */
.fancycaption h6 {
  font-size: 0.875em;
  line-height: 1.57143;
}
/* line 45, ../sass/ie.scss */
.fancycaption p {
  font-size: 0.875em;
  line-height: 1.64286;
}

/* line 50, ../sass/ie.scss */
.logo {
  opacity: 1;
}

/* line 53, ../sass/ie.scss */
.menubtn {
  display: none;
}

/* line 56, ../sass/ie.scss */
.quicklinks_mobile {
  display: none;
}

/* line 59, ../sass/ie.scss */
.quicklinks_desktop {
  display: block;
}

/* line 62, ../sass/ie.scss */
.quicklinks {
  display: block;
  text-align: right;
  padding: 0 60px;
  opacity: 1;
}
/* line 67, ../sass/ie.scss */
.quicklinks a {
  display: inline-block;
  margin-left: 30px;
}
/* line 70, ../sass/ie.scss */
.quicklinks a:last-child {
  padding-right: 0;
}

/* line 75, ../sass/ie.scss */
.mainnav_wrapper {
  border-top: 0;
  padding: 0 60px;
}

/* line 79, ../sass/ie.scss */
.mainnav_inside {
  float: left;
  padding: 18px 15px 18px 0;
}

/* line 83, ../sass/ie.scss */
.mainnav {
  width: 1400px;
  margin: 0 auto;
}

/* line 87, ../sass/ie.scss */
nav {
  display: block;
  width: auto;
  position: static;
  clear: none;
  float: right;
  overflow: visible;
  padding-top: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 1;
}
/* line 99, ../sass/ie.scss */
nav ul {
  margin-bottom: 0;
  display: block;
  justify-content: space-between;
}
/* line 103, ../sass/ie.scss */
nav ul ul {
  display: none;
}
/* line 107, ../sass/ie.scss */
nav li {
  display: block;
  float: left;
  border-bottom: 0;
  padding-left: 25px;
  position: relative;
}
/* line 114, ../sass/ie.scss */
nav li:last-child a {
  padding-right: 0;
}
/* line 119, ../sass/ie.scss */
nav li:hover ul.dropdown {
  display: block;
  opacity: 1;
  margin-top: 0;
}
/* line 125, ../sass/ie.scss */
nav li a {
  border-left: 0;
  padding: 28px 10px 37px 10px;
}
/* line 128, ../sass/ie.scss */
nav li a:hover {
  border-left: 0;
}

/* line 135, ../sass/ie.scss */
ul.dropdown {
  position: absolute;
  top: calc(100% - 30px);
  left: 0;
  z-index: 20;
  background: #ffffff;
  width: 355px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
/* line 143, ../sass/ie.scss */
ul.dropdown a:after {
  display: none;
}
/* line 146, ../sass/ie.scss */
ul.dropdown li, ul.dropdown a {
  display: block;
  width: 100%;
}
/* line 150, ../sass/ie.scss */
ul.dropdown a {
  padding: 25px 10px 25px 30px;
  border-left: 10px solid #ffffff;
  border-bottom: 1.25px solid #F0F0F1;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.71429;
  text-transform: none;
}
/* line 158, ../sass/ie.scss */
ul.dropdown a:hover {
  border-left: 10px solid #F7B352;
  color: #F7B352;
  font-weight: 700;
  padding-left: 50px;
}

/* line 166, ../sass/ie.scss */
li.solutionsnav {
  position: static;
}
/* line 168, ../sass/ie.scss */
li.solutionsnav ul.dropdown {
  width: 100%;
  padding: 20px;
  top: 90px;
}
/* line 172, ../sass/ie.scss */
li.solutionsnav ul.dropdown li {
  display: none;
}
/* line 175, ../sass/ie.scss */
li.solutionsnav ul.dropdown li.challenges_dropdown {
  display: block;
}
/* line 180, ../sass/ie.scss */
li.solutionsnav li.challenges_dropdown:hover a {
  border-bottom: 0;
}
/* line 184, ../sass/ie.scss */
li.solutionsnav .challenge {
  padding: 10px;
  border-bottom: 0;
  border-left: 0;
  height: 214px;
  width: 17%;
  display: block;
  margin: 0 15px 30px;
  border: 1px solid #000000;
}
/* line 193, ../sass/ie.scss */
li.solutionsnav .challenge:hover {
  padding-left: 10px;
  border-left: 0;
  border: 1px solid #F7B352;
}
/* line 198, ../sass/ie.scss */
li.solutionsnav .challenge .challenge_inside {
  padding: 30px 10px;
  position: static;
}

/* line 204, ../sass/ie.scss */
.main_section {
  padding-top: 250px;
  position: relative;
}
/* line 207, ../sass/ie.scss */
.main_section:after {
  left: 0;
}
/* line 210, ../sass/ie.scss */
.main_section:before {
  content: '';
  display: block;
  background: #354f5f;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: .8;
}

/* line 223, ../sass/ie.scss */
.main_section_text {
  opacity: 1;
  padding-top: 60px;
}
/* line 226, ../sass/ie.scss */
.main_section_text h1 {
  font-size: 3.75em;
  line-height: 0.6;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
/* line 232, ../sass/ie.scss */
.main_section_text h2 {
  font-size: 1.75em;
  line-height: 1.28571;
  letter-spacing: 0.1em;
}

/* line 239, ../sass/ie.scss */
.challenges_wrappers {
  margin: 0 -5px;
}

/* line 242, ../sass/ie.scss */
.challenge {
  flex-basis: calc(30% - 30px);
  margin: 0 50px 70px;
}
/* line 245, ../sass/ie.scss */
.challenge:first-child {
  margin-left: 0;
}
/* line 248, ../sass/ie.scss */
.challenge:nth-child(3n) {
  margin-right: 0;
}

/* line 252, ../sass/ie.scss */
.section {
  width: 1400px;
  margin: 0 auto;
  padding: 50px 25px;
}
/* line 256, ../sass/ie.scss */
.section.section_alt {
  width: 100%;
  max-width: 100%;
}

/* line 261, ../sass/ie.scss */
.section_inside {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 266, ../sass/ie.scss */
.section_cta {
  max-width: 100%;
  width: 100%;
  padding: 40px 20px;
}
/* line 271, ../sass/ie.scss */
.section_cta .button:after {
  width: 10px;
  height: 12px;
  background: url(../images/icon-rightarrow-yellow.png) no-repeat top left;
  background-size: 8px 12px;
}
/* line 278, ../sass/ie.scss */
.section_cta .button:hover:after {
  background: url(../images/icon-rightarrow.png) no-repeat top left;
  background-size: 8px 12px;
}

/* line 285, ../sass/ie.scss */
.home .section_imgoverlap {
  position: relative;
  padding-top: 75px;
}
/* line 288, ../sass/ie.scss */
.home .section_imgoverlap .section_contentbox {
  padding: 45px 0 45px 45px;
  position: absolute;
  margin: 0;
  left: 55%;
  top: 50%;
  margin-top: -140px;
}

/* line 297, ../sass/ie.scss */
.home .section_imgoverlap {
  margin-bottom: 40px;
}
/* line 299, ../sass/ie.scss */
.home .section_imgoverlap .section_image {
  max-width: 975px;
  width: 75%;
}
/* line 303, ../sass/ie.scss */
.home .section_imgoverlap .section_contentbox {
  max-width: 486px;
}

/* line 307, ../sass/ie.scss */
.section_challenges {
  overflow: hidden;
}

/* line 310, ../sass/ie.scss */
.challenges_wrappers {
  margin: 0 -5px;
}

/* line 313, ../sass/ie.scss */
.challenge {
  padding: 2px;
  border-width: 0;
  display: block;
  border-color: transparent;
  border-bottom: 10px solid #F7B352;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  height: 214px;
  width: 17%;
  float: left;
  margin: 0 15px 30px;
}
/* line 328, ../sass/ie.scss */
.challenge:hover {
  padding: 0;
  border-width: 2px 2px 2px 2px;
}
/* line 331, ../sass/ie.scss */
.challenge:hover .gradient_icon:before {
  display: block;
}
/* line 335, ../sass/ie.scss */
.challenge .challenge_inside {
  padding: 40px 25px 53px;
  width: 100%;
}
/* line 339, ../sass/ie.scss */
.challenge h3 {
  font-size: 1em;
  line-height: 1.375;
  font-weight: 600;
}
/* line 344, ../sass/ie.scss */
.challenge .popupcta {
  display: block;
  position: absolute;
  z-index: 5;
  bottom: -100px;
  left: 0;
  width: 100%;
  background: #F7B352;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.9375em;
  line-height: 1.26667;
  letter-spacing: 0.12em;
  color: #ffffff;
  padding: 22px 20px;
  background: #f7b352;
  background: -moz-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  background: -webkit-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  background: linear-gradient(135deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b352', endColorstr='#b27725',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}
/* line 366, ../sass/ie.scss */
.challenge .popupcta:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 7.5px;
  height: 11.5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: url(../images/icon-rightarrow.svg) no-repeat top left;
}
/* line 377, ../sass/ie.scss */
.challenge:hover .popupcta {
  bottom: 0;
}

/* line 382, ../sass/ie.scss */
.challenge_description, .popupcta {
  display: block;
}

/* line 385, ../sass/ie.scss */
.section_challenges .mobilebtn {
  display: none;
}

/* line 388, ../sass/ie.scss */
.challenge_description p {
  text-transform: none;
  float: none;
  font-size: 0.875em;
  line-height: 1.85714;
}

/* line 394, ../sass/ie.scss */
.gradient_icon {
  width: 70px;
  height: 70px;
}
/* line 397, ../sass/ie.scss */
.gradient_icon:before {
  display: none;
}
/* line 400, ../sass/ie.scss */
.gradient_icon img, .gradient_icon svg {
  width: 70px;
  height: 70px;
}

/* :::::::: Challenge tile teasers */
/* line 406, ../sass/ie.scss */
.challenge_teasers {
  margin: 0 -10px;
  max-width: 140%;
}
/* line 409, ../sass/ie.scss */
.challenge_teasers .challenge {
  height: 410px;
  width: 27%;
  margin: 0 50px 70px;
  cursor: pointer;
}
/* line 415, ../sass/ie.scss */
.challenge_teasers .challenge:hover .popupcta {
  height: 63px;
}
/* line 417, ../sass/ie.scss */
.challenge_teasers .challenge:hover .popupcta span {
  top: 0;
}
/* line 422, ../sass/ie.scss */
.challenge_teasers .challenge:after {
  content: '';
  display: block;
  width: 1px;
  clear: both;
}
/* line 428, ../sass/ie.scss */
.challenge_teasers .challenge:before {
  display: none;
}
/* line 431, ../sass/ie.scss */
.challenge_teasers .challenge:first-child {
  margin-left: 0;
}
/* line 434, ../sass/ie.scss */
.challenge_teasers .challenge:nth-child(3n) {
  margin-right: 0;
}
/* line 438, ../sass/ie.scss */
.challenge_teasers .challenge_inside {
  height: 410px;
  position: static;
}

/* line 443, ../sass/ie.scss */
.challenge_description {
  display: block;
}
/* line 445, ../sass/ie.scss */
.challenge_description p {
  text-transform: none;
  float: none;
  font-size: 0.875em;
  line-height: 1.85714;
}

/* line 452, ../sass/ie.scss */
.teaser_shadow {
  border: 1px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 461, ../sass/ie.scss */
.teaser_shadow:hover {
  border: 1px solid #F7B352;
  transform: scale(1.05);
}

/* line 466, ../sass/ie.scss */
.popupcta {
  display: block;
  position: absolute;
  z-index: 5;
  height: 10px;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  background: #F7B352;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 478, ../sass/ie.scss */
.popupcta span {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  display: block;
  background: #F7B352;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.9375em;
  line-height: 1.26667;
  letter-spacing: 0.12em;
  color: #ffffff;
  padding: 22px 20px;
  background: #f7b352;
  background: -moz-linear-gradient(-45deg, #f7b352 21%, #f2ddc4 44%, #f7b352 73%, #e59627 94%);
  background: -webkit-linear-gradient(-45deg, #f7b352 21%, #f2ddc4 44%, #f7b352 73%, #e59627 94%);
  background: linear-gradient(135deg, #f7b352 21%, #f2ddc4 44%, #f7b352 73%, #e59627 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b352', endColorstr='#e59627',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}
/* line 500, ../sass/ie.scss */
.popupcta span:after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  width: 7.5px;
  height: 11.5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: url(../images/icon-rightarrow.svg) no-repeat top left;
}

/* :::::::::::::::::::::::::::::::::::::: Full width image CTA */
/* line 512, ../sass/ie.scss */
.image_cta {
  position: relative;
  padding: 0;
  width: 1400px;
  margin: 0 auto 70px;
}
/* line 517, ../sass/ie.scss */
.image_cta .image_cta_msg {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 486px;
  padding: 40px;
}
/* line 523, ../sass/ie.scss */
.image_cta .image_cta_msg.cta_left {
  left: 0;
}
/* line 527, ../sass/ie.scss */
.image_cta img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 532, ../sass/ie.scss */
.image_cta p {
  font-size: 0.9375em;
  line-height: 1.66667;
}

/* :::::::::::::::::::::::::::::::::::::: Collapsible section */
/* line 538, ../sass/ie.scss */
.collapsible_section {
  overflow: hidden;
  width: 1400px;
  margin: 0 auto 70px;
}
/* line 542, ../sass/ie.scss */
.collapsible_section .section_col1 {
  width: 40%;
  float: left;
  padding-right: 40px;
}
/* line 547, ../sass/ie.scss */
.collapsible_section .section_col2 {
  width: 60%;
  float: right;
}

/* line 552, ../sass/ie.scss */
.collapsible_wrapper {
  padding: 35px 45px;
}

/* line 556, ../sass/ie.scss */
.collapsible_item.open h3 {
  font-size: 1.5625em;
  line-height: 0.88;
}
/* line 560, ../sass/ie.scss */
.collapsible_item h3 {
  font-size: 1em;
  line-height: 1.375;
}

/* :::::::::::::::::::::::::::::::::::::: Content Blocks */
/* line 566, ../sass/ie.scss */
.block_header p {
  font-size: 2.125rem;
  line-height: 1.11765;
  letter-spacing: 0.035em;
}
/* line 570, ../sass/ie.scss */
.block_header p span {
  font-size: 0.875rem;
  line-height: 1.57143;
  letter-spacing: 0.02em;
}

/* line 576, ../sass/ie.scss */
.content_blocks.blocks-3 {
  overflow: hidden;
}
/* line 578, ../sass/ie.scss */
.content_blocks.blocks-3 .block_item {
  width: 33%;
  float: left;
}

/* line 583, ../sass/ie.scss */
.content_blocks.blocks-4 {
  overflow: hidden;
}
/* line 585, ../sass/ie.scss */
.content_blocks.blocks-4 .block_item {
  width: 25%;
  float: left;
}

/* :::::::::::::::::::::::::::::::::::::: Carousel */
/* line 592, ../sass/ie.scss */
.carousel_navigation .slick-prev {
  background: url(../images/icon-leftarrow-blue.svg) no-repeat right center;
}

/* :::::::::::::::::::::::::::::::::::::: Endpage CTA */
/* line 598, ../sass/ie.scss */
.endpage_cta_wrapper:before {
  background: #354f5f;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

/* line 606, ../sass/ie.scss */
.endpage_cta h2 {
  font-size: 2.5em;
  line-height: 0.625;
}
/* line 610, ../sass/ie.scss */
.endpage_cta h3 {
  font-size: 1.25em;
  line-height: 1.35;
}

/* :::::::::::::::::::::::::::::::::::::: Footer */
/* line 616, ../sass/ie.scss */
.footer_links {
  width: auto;
  padding-right: 6%;
}

/* line 620, ../sass/ie.scss */
.btn_quicklinks {
  width: 280px;
  float: left;
}

/* line 624, ../sass/ie.scss */
.up_logo {
  float: right;
  clear: none;
}

/* line 629, ../sass/ie.scss */
.social_links a {
  padding: 10px 4px;
}
/* line 633, ../sass/ie.scss */
.social_links .facebook svg, .social_links .twitter svg, .social_links .instagram svg, .social_links .linkedin svg {
  width: 14px;
  height: 14px;
}

/* line 640, ../sass/ie.scss */
.footer_wrapper .logo {
  margin-right: 60px;
}

/* line 644, ../sass/ie.scss */
.copyright {
  clear: both;
}
