/* :::::::::::::::::: Brand Base Colors */
/* :::::::::::::::::: Extra colors */
/* Grays dark to light */
/* blues dark to light */
/* Gradients */
/* Fonts */
/* Functions */
/* Mixins */
/* Animations */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-moz-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-webkit-keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-moz-keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeinfrombottom {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes bringtotop {
  0% {
    z-index: 1;
  }
  100% {
    z-index: 10;
  }
}
@keyframes buckethigh {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: -120px;
  }
}
@-webkit-keyframes buckethigh {
  0% {
    opacity: 0;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: -120px;
  }
}
@keyframes bucketlow {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-webkit-keyframes bucketlow {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes flip {
  0% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  25% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    opacity: 0;
  }
  95% {
    opacity: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flip {
  0% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  25% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    opacity: 0;
  }
  95% {
    opacity: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes shrink {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  70% {
    height: 0;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    height: 100%;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shrink {
  0% {
    height: 100%;
  }
  20% {
    height: 100%;
  }
  70% {
    height: 0;
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    height: 100%;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    height: 0%;
  }
  20% {
    height: 0%;
  }
  70% {
    height: 100%;
  }
  80% {
    opacity: 1;
  }
  85% {
    height: 100%;
    opacity: 0;
  }
  90% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes grow {
  0% {
    height: 0%;
  }
  20% {
    height: 0%;
  }
  70% {
    height: 100%;
  }
  80% {
    opacity: 1;
  }
  85% {
    height: 100%;
    opacity: 0;
  }
  90% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 3, ../sass/ie8.scss */
.main_section_wrapper {
  clear: both;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 8, ../sass/ie8.scss */
.main_section {
  height: 650px;
  padding-top: 50px;
}

/* line 12, ../sass/ie8.scss */
.main_section_img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .7;
}

/* line 18, ../sass/ie8.scss */
.main_section_overlay .challenges_wrappers {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
/* line 23, ../sass/ie8.scss */
.main_section_overlay .overlay_cta {
  max-width: 1300px;
  padding: 0 30px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 50%;
}
/* line 31, ../sass/ie8.scss */
.main_section_overlay .challenge {
  width: 17%;
  height: 190px;
}
/* line 35, ../sass/ie8.scss */
.main_section_overlay .challenge:last-child {
  margin-right: 0;
}
/* line 38, ../sass/ie8.scss */
.main_section_overlay .button {
  float: right;
}

/* line 42, ../sass/ie8.scss */
.main_section_wrapper.is-active .main_section {
  height: 100%;
  max-height: 950px;
  min-height: 550px;
}

/* line 47, ../sass/ie8.scss */
.mainnav {
  height: 100px;
}

/* :::::::::::::::::::::::::::::: CHALLENGES */
/* line 51, ../sass/ie8.scss */
.challenges_wrappers {
  max-width: 100%;
}

/* line 54, ../sass/ie8.scss */
.section_challenges p, h2 {
  float: none;
  clear: none;
}

/* line 58, ../sass/ie8.scss */
.challenge_inside {
  transform: translate(0, 0);
  position: static;
}
