/* Base styles */
/* line 1, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* :::::::::::::::::: Brand Base Colors */
/* :::::::::::::::::: Extra colors */
/* Grays dark to light */
/* blues dark to light */
/* Gradients */
/* Fonts */
/* Functions */
/* Mixins */
/* Animations */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@keyframes slideinleft {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@keyframes slideintop {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-moz-keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@keyframes fadeinup {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
/* Vendor styles */
/* Global styles */
/* line 1, ../sass/partials/_global.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_global.scss */
body {
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

/* line 9, ../sass/partials/_global.scss */
::-moz-selection {
  background: #40B4E5;
  color: #ffffff;
}

/* line 13, ../sass/partials/_global.scss */
::selection {
  background: #40B4E5;
  color: #ffffff;
}

/* :::::::::::::::::::::::::::::::::::::: General Styles */
/* line 18, ../sass/partials/_global.scss */
h1, .h1 {
  font-size: 2.1875rem;
  line-height: 1.14286;
  letter-spacing: 0.035em;
  color: #276092;
  text-transform: uppercase;
  font-weight: 600;
}

/* line 26, ../sass/partials/_global.scss */
h2, .h2 {
  font-size: 2.1875rem;
  line-height: 1.14286;
  letter-spacing: 0.035em;
  color: #276092;
  font-weight: 400;
  font-family: "Arial Narrow", narrow, Arial, helvetica, sans-serif;
  margin-bottom: 15px;
}

/* line 35, ../sass/partials/_global.scss */
h3, .h3 {
  font-size: 0.9375rem;
  line-height: 1.46667;
  letter-spacing: 0.12em;
  color: #276092;
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 43, ../sass/partials/_global.scss */
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5625;
  letter-spacing: 0.03em;
  color: #333E48;
  font-weight: 700;
}

/* line 50, ../sass/partials/_global.scss */
p {
  font-weight: 300;
  color: #313D48;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
}

/* line 56, ../sass/partials/_global.scss */
p.listtitle {
  font-weight: 700;
  margin-bottom: 0;
}

/* line 60, ../sass/partials/_global.scss */
ul, ol {
  font-weight: 300;
  color: #313D48;
  font-size: 1rem;
  line-height: 1.5625;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
}

/* line 68, ../sass/partials/_global.scss */
ul {
  list-style-image: url(../images/icon-bullet.png);
  padding-left: 20px;
}
/* line 71, ../sass/partials/_global.scss */
ul li {
  padding-left: 5px;
  padding-bottom: 5px;
}

/* line 76, ../sass/partials/_global.scss */
.button {
  display: inline-block;
  position: relative;
  background: #ffffff;
  border: 1px solid rgba(51, 62, 72, 0.3);
  color: #333E48;
  text-transform: uppercase;
  padding: 15px 30px;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.28571;
  letter-spacing: 0.12em;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0px 3px 6px 0px transparent;
  -moz-box-shadow: 0px 3px 6px 0px transparent;
  box-shadow: 0px 3px 6px 0px transparent;
}
/* line 92, ../sass/partials/_global.scss */
.button:after {
  content: '';
  display: block;
  float: right;
  margin: 2px 0 0 7px;
  width: 7.5px;
  height: 11.5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: url(../images/icon-rightarrow-spruce.svg) no-repeat top left;
  background-size: contain;
}
/* line 103, ../sass/partials/_global.scss */
.button:hover {
  border: 1px solid #F7B352;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  color: #F7B352;
}
/* line 107, ../sass/partials/_global.scss */
.button:hover:after {
  background: url(../images/icon-rightarrow-yellow.svg) no-repeat top left;
  background-size: contain;
}

/* line 113, ../sass/partials/_global.scss */
.button.alt {
  background: #F7B352;
  color: #ffffff;
  border-color: transparent;
  -webkit-transition: all 0 ease-out;
  -moz-transition: all 0 ease-out;
  transition: all 0 ease-out;
}
/* line 118, ../sass/partials/_global.scss */
.button.alt:after {
  background: url(../images/icon-rightarrow.svg) no-repeat top left;
}
/* line 121, ../sass/partials/_global.scss */
.button.alt:hover {
  background: #035b99;
  background: -moz-linear-gradient(-45deg, #035b99 0%, #2fa5df 28%, #83d4f1 64%, #6db0e1 100%);
  background: -webkit-linear-gradient(-45deg, #035b99 0%, #2fa5df 28%, #83d4f1 64%, #6db0e1 100%);
  background: linear-gradient(135deg, #035b99 0%, #2fa5df 28%, #83d4f1 64%, #6db0e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035b99', endColorstr='#6db0e1',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 8s ease infinite;
  -moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

/* line 133, ../sass/partials/_global.scss */
img {
  max-width: 100%;
}

/* :::::::::::::::::::::::::::::::::::::: Header Styles */
/* ::::::::::::: Quicklinks */
/* line 139, ../sass/partials/_global.scss */
.quicklinks_wrapper {
  background: #333E48;
  min-height: 15px;
}
/* line 142, ../sass/partials/_global.scss */
.quicklinks_wrapper a {
  display: block;
  padding: 10px;
  color: #F7B352;
  font-size: 0.8125rem;
  line-height: 1.23077;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 152, ../sass/partials/_global.scss */
.quicklinks_wrapper a:hover {
  color: #ffffff;
}

/* line 157, ../sass/partials/_global.scss */
.quicklinks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
}
/* line 160, ../sass/partials/_global.scss */
.quicklinks.longlinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
/* line 163, ../sass/partials/_global.scss */
.quicklinks.longlinks a {
  padding: 10px 30px;
}

/* line 168, ../sass/partials/_global.scss */
.quicklinks_desktop {
  display: none;
}

/* line 172, ../sass/partials/_global.scss */
.no-cssgrid .quicklinks, .no-flexbox .quicklinks {
  display: block;
}
/* line 174, ../sass/partials/_global.scss */
.no-cssgrid .quicklinks.longlinks, .no-flexbox .quicklinks.longlinks {
  display: block;
}
/* line 176, ../sass/partials/_global.scss */
.no-cssgrid .quicklinks.longlinks a, .no-flexbox .quicklinks.longlinks a {
  width: 50%;
  float: left;
}
/* line 181, ../sass/partials/_global.scss */
.no-cssgrid .quicklinks a, .no-flexbox .quicklinks a {
  display: inline-block;
}

/* ::::::::::::: Main nav */
/* line 187, ../sass/partials/_global.scss */
.mainnav_inside {
  padding: 13px 15px;
  overflow: hidden;
  background: #ffffff;
  position: relative;
  z-index: 90;
}

/* line 194, ../sass/partials/_global.scss */
.mainnav_wrapper {
  position: relative;
  padding: 0 10px;
  background: #ffffff;
  border-top: 15px solid #333E48;
}

/* line 200, ../sass/partials/_global.scss */
.mainnav {
  position: relative;
}

/* line 203, ../sass/partials/_global.scss */
.logo {
  display: block;
  width: 173px;
  float: left;
  opacity: 0;
  -webkit-animation: fade 1s ease 1;
  -moz-animation: fade 1s ease 1;
  animation: fade 1s ease 1;
  animation-fill-mode: forwards;
}
/* line 212, ../sass/partials/_global.scss */
.logo svg, .logo img {
  display: block;
}

/* ::::::::::::: Menu button */
/* line 217, ../sass/partials/_global.scss */
.menubtn {
  cursor: pointer;
  float: right;
  padding-top: 6px;
  margin-right: -15px;
}
/* line 222, ../sass/partials/_global.scss */
.menubtn button {
  outline: 0;
}

/* line 226, ../sass/partials/_global.scss */
.hamburger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 240, ../sass/partials/_global.scss */
.hamburger-box {
  width: 30px;
  height: 22px;
  display: inline-block;
  position: relative;
}

/* line 246, ../sass/partials/_global.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 30px;
  height: 4px;
  background-color: #333E48;
  border-radius: 4px;
  position: absolute;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/* line 256, ../sass/partials/_global.scss */
.hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #333E48;
  border-radius: 4px;
  position: absolute;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/* line 264, ../sass/partials/_global.scss */
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
/* line 268, ../sass/partials/_global.scss */
.hamburger-inner::before {
  top: -10px;
}
/* line 271, ../sass/partials/_global.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/* line 276, ../sass/partials/_global.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 279, ../sass/partials/_global.scss */
.hamburger--spin .hamburger-inner::before {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 283, ../sass/partials/_global.scss */
.hamburger--spin .hamburger-inner::after {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* line 289, ../sass/partials/_global.scss */
.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 293, ../sass/partials/_global.scss */
.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 299, ../sass/partials/_global.scss */
.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* ::::::::::::: Nav */
/* line 307, ../sass/partials/_global.scss */
nav {
  clear: both;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  display: none;
  position: absolute;
  z-index: 7;
  top: 100%;
  left: 0;
  width: 100%;
}
/* line 318, ../sass/partials/_global.scss */
nav ul {
  padding-left: 0;
  list-style-image: none;
}
/* line 322, ../sass/partials/_global.scss */
nav li {
  border-bottom: 1.25px solid #F0F0F1;
  padding-left: 0;
  padding-bottom: 0;
}
/* line 326, ../sass/partials/_global.scss */
nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333E48;
  padding: 20px 20px 20px 35px;
  display: block;
  border-left: 10px solid #ffffff;
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 337, ../sass/partials/_global.scss */
nav li a:hover {
  border-left: 10px solid #F7B352;
  color: #F7B352;
}
/* line 343, ../sass/partials/_global.scss */
nav ul ul {
  display: none;
}
/* line 346, ../sass/partials/_global.scss */
nav li.active {
  border-left: 10px solid #F7B352;
  color: #F7B352;
}
/* line 349, ../sass/partials/_global.scss */
nav li.active a {
  padding-bottom: 10px;
  color: #F7B352;
  border-left: none;
}
/* line 354, ../sass/partials/_global.scss */
nav li.active ul {
  display: block;
  margin-bottom: 10px;
}
/* line 357, ../sass/partials/_global.scss */
nav li.active ul li {
  border-bottom: 0;
}
/* line 360, ../sass/partials/_global.scss */
nav li.active ul a {
  font-weight: 400;
  text-transform: none;
  border-left: 0;
  color: #333E48;
  padding: 12px 20px 12px 55px;
  font-size: 0.875rem;
}
/* line 367, ../sass/partials/_global.scss */
nav li.active ul a:hover {
  color: #F7B352;
}

/* ::::::::::::: Sticky nav */
/* line 376, ../sass/partials/_global.scss */
.stickynav header {
  min-height: 106px;
}
/* line 379, ../sass/partials/_global.scss */
.stickynav .mainnav_wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-top: 0;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-animation: slideintop .4s ease 1;
  -moz-animation: slideintop .4s ease 1;
  animation: slideintop .4s ease 1;
  animation-fill-mode: forwards;
}

/* :::::::::::::::::::::::::::::::::::::: Footer Styles */
/* line 393, ../sass/partials/_global.scss */
.footer_wrapper {
  padding: 40px 25px;
}
/* line 395, ../sass/partials/_global.scss */
.footer_wrapper .logo {
  margin-bottom: 30px;
}
/* line 398, ../sass/partials/_global.scss */
.footer_wrapper .button {
  width: 100%;
  text-align: center;
  margin-bottom: 22px;
  padding: 17px 30px;
}

/* line 405, ../sass/partials/_global.scss */
.footer_links {
  float: left;
  list-style-image: none;
  padding-left: 0;
  margin-bottom: 25px;
}
/* line 410, ../sass/partials/_global.scss */
.footer_links li {
  padding: 0;
  margin-bottom: 5px;
}
/* line 414, ../sass/partials/_global.scss */
.footer_links a {
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 1.15385;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #757B7F;
}
/* line 421, ../sass/partials/_global.scss */
.footer_links a:hover {
  color: #F7B352;
}
/* line 425, ../sass/partials/_global.scss */
.footer_links li.list_title {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.28571;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #276092;
}

/* line 434, ../sass/partials/_global.scss */
.sitenav {
  clear: left;
  width: 60%;
}

/* line 438, ../sass/partials/_global.scss */
.helpfullinks {
  width: 40%;
}

/* line 441, ../sass/partials/_global.scss */
.up_logo {
  overflow: hidden;
  width: 310px;
  margin: 0 auto 15px;
}
/* line 445, ../sass/partials/_global.scss */
.up_logo p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.28571;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #276092;
  text-transform: uppercase;
  float: left;
  padding: 23px 5px 0 0;
}
/* line 456, ../sass/partials/_global.scss */
.up_logo a {
  float: left;
}

/* line 460, ../sass/partials/_global.scss */
.copyright {
  text-align: center;
}
/* line 462, ../sass/partials/_global.scss */
.copyright p, .copyright a {
  font-size: 0.8125rem;
  line-height: 2.30769;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #757B7F;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0;
}
/* line 473, ../sass/partials/_global.scss */
.copyright a:before {
  content: '|';
  display: inline;
  padding: 0 4px 0 2px;
}
/* line 478, ../sass/partials/_global.scss */
.copyright a:hover {
  color: #F7B352;
}
/* line 480, ../sass/partials/_global.scss */
.copyright a:hover:before {
  color: #757B7F;
}

/* line 486, ../sass/partials/_global.scss */
.social_links {
  list-style-image: none;
  padding-left: 0;
}
/* line 489, ../sass/partials/_global.scss */
.social_links li {
  padding-left: 0;
  display: inline-block;
}
/* line 493, ../sass/partials/_global.scss */
.social_links svg path, .social_links svg rect {
  fill: #757B7F;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 497, ../sass/partials/_global.scss */
.social_links a {
  padding: 10px;
}
/* line 499, ../sass/partials/_global.scss */
.social_links a:before {
  display: none;
}
/* line 502, ../sass/partials/_global.scss */
.social_links a:hover svg path, .social_links a:hover svg rect {
  fill: #F7B352;
}
/* line 508, ../sass/partials/_global.scss */
.social_links .facebook svg, .social_links .twitter svg, .social_links .instagram svg, .social_links .linkedin svg {
  width: 20px;
  height: 20px;
}

/* :::::::::::::::::::::::::::::::::::::: Section Styles */
/* line 515, ../sass/partials/_global.scss */
.section {
  padding: 20px 25px;
}

/* :::::::::::::::: Image overlap section */
/* line 519, ../sass/partials/_global.scss */
.section_imgoverlap {
  max-width: 1400px;
  margin: 0 auto;
}
/* line 522, ../sass/partials/_global.scss */
.section_imgoverlap .section_contentbox {
  background: #ffffff;
  padding: 20px 20px 30px;
  width: 95%;
  width: calc(100vw - 70px);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
/* line 531, ../sass/partials/_global.scss */
.section_imgoverlap .section_image {
  margin-top: -30px;
  z-index: 1;
  position: relative;
}
/* line 535, ../sass/partials/_global.scss */
.section_imgoverlap .section_image img {
  width: 100%;
}

/* :::::::::::::::: Image CTA section */
/* line 541, ../sass/partials/_global.scss */
.image_cta {
  padding: 20px 25px 30px;
}
/* line 543, ../sass/partials/_global.scss */
.image_cta img {
  width: 100%;
  display: block;
}
/* line 547, ../sass/partials/_global.scss */
.image_cta .image_cta_msg {
  background: #333E48;
  padding: 30px 20px;
}
/* line 551, ../sass/partials/_global.scss */
.image_cta h4, .image_cta h5 {
  color: #F7B352;
  margin-bottom: 5px;
}
/* line 555, ../sass/partials/_global.scss */
.image_cta h4 {
  letter-spacing: 0.12em;
  line-height: 1.375;
  font-weight: 600;
}
/* line 560, ../sass/partials/_global.scss */
.image_cta h5 {
  font-style: italic;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.57143;
  letter-spacing: 0.02em;
}
/* line 567, ../sass/partials/_global.scss */
.image_cta p {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.64286;
}

/* :::::::::::::::::::::::::::::::::::::: Collapsible Content */
/* line 575, ../sass/partials/_global.scss */
.collapsible_wrapper {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 20px 20px 30px;
  margin-bottom: 20px;
}

/* line 580, ../sass/partials/_global.scss */
.collapsible_item {
  border-bottom: 1px solid rgba(117, 123, 127, 0.3);
  padding: 18px 0;
}
/* line 583, ../sass/partials/_global.scss */
.collapsible_item h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 587, ../sass/partials/_global.scss */
.collapsible_item ul {
  margin-bottom: 0;
}
/* line 590, ../sass/partials/_global.scss */
.collapsible_item .collapsible_content {
  display: none;
}
/* line 593, ../sass/partials/_global.scss */
.collapsible_item:first-child {
  padding-top: 10px;
}

/* line 597, ../sass/partials/_global.scss */
.collapsible_handle {
  position: relative;
  cursor: pointer;
}
/* line 600, ../sass/partials/_global.scss */
.collapsible_handle svg {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  right: 0;
}
/* line 607, ../sass/partials/_global.scss */
.collapsible_handle rect {
  fill: #276092;
}
/* line 610, ../sass/partials/_global.scss */
.collapsible_handle #plus_vert {
  height: 23px;
}

/* line 615, ../sass/partials/_global.scss */
.collapsible_item.open h3 {
  font-size: 1.375rem;
  line-height: 1.27273;
  letter-spacing: 0.12em;
  margin-bottom: 15px;
}
/* line 621, ../sass/partials/_global.scss */
.collapsible_item.open .collapsible_content {
  display: block;
}
/* line 625, ../sass/partials/_global.scss */
.collapsible_item.open .collapsible_handle #plus_vert {
  height: 0;
}

/* :::::::::::::::::::::::::::::::::::::: End page CTA */
/* line 631, ../sass/partials/_global.scss */
.endpage_cta_wrapper {
  background-image: url(../images/placeholder_endpagecta.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
/* line 637, ../sass/partials/_global.scss */
.endpage_cta_wrapper:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: -moz-linear-gradient(-45deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  background: -webkit-linear-gradient(-45deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  background: linear-gradient(135deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#b340b4e5',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

/* line 657, ../sass/partials/_global.scss */
.endpage_cta {
  z-index: 2;
  position: relative;
  text-align: center;
  max-width: 340px;
  margin: 0 auto;
  padding: 55px 30px;
}
/* line 664, ../sass/partials/_global.scss */
.endpage_cta h2, .endpage_cta h3, .endpage_cta h4, .endpage_cta h5, .endpage_cta p {
  color: #ffffff;
}
/* line 667, ../sass/partials/_global.scss */
.endpage_cta h2 {
  font-size: 2.0625rem;
  line-height: 1.0303;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin-bottom: 10px;
}
/* line 675, ../sass/partials/_global.scss */
.endpage_cta h3 {
  font-size: 1.125rem;
  line-height: 1.88889;
  letter-spacing: 0.1em;
  font-weight: 500;
}
/* line 681, ../sass/partials/_global.scss */
.endpage_cta p {
  font-size: 0.9375rem;
  line-height: 1.6;
}

@media screen and (min-width: 800px) {
  /* :::::::::::::::::::::::::::::::::::::: Footer */
  /* line 690, ../sass/partials/_global.scss */
  .logo {
    margin-right: 30px;
  }

  /* line 693, ../sass/partials/_global.scss */
  .sitenav {
    clear: none;
    width: 25%;
  }

  /* line 697, ../sass/partials/_global.scss */
  .helpfullinks {
    width: 22%;
  }

  /* line 700, ../sass/partials/_global.scss */
  .footer_links {
    padding-top: 17px;
  }

  /* line 703, ../sass/partials/_global.scss */
  .footer_wrapper {
    padding: 40px 60px;
    max-width: 1520px;
    margin: 0 auto;
  }

  /* line 708, ../sass/partials/_global.scss */
  .section_imgoverlap {
    position: relative;
    padding-top: 75px;
  }
  /* line 711, ../sass/partials/_global.scss */
  .section_imgoverlap .section_contentbox {
    padding: 45px 0 45px 45px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* line 719, ../sass/partials/_global.scss */
  .btn_quicklinks {
    width: 26%;
    float: right;
    padding-top: 17px;
  }

  /* line 724, ../sass/partials/_global.scss */
  .up_logo {
    clear: both;
  }

  /* line 727, ../sass/partials/_global.scss */
  .copyright {
    clear: both;
  }

  /* line 730, ../sass/partials/_global.scss */
  .social_links {
    display: inline-block;
  }

  /* :::::::::::::::::::::::::::::::::::::: Endpage CTA */
  /* line 734, ../sass/partials/_global.scss */
  .endpage_cta {
    max-width: 1400px;
    padding: 80px 30px;
  }
  /* line 737, ../sass/partials/_global.scss */
  .endpage_cta h2 {
    font-size: 2.1875rem;
    line-height: 0.71429;
  }
  /* line 741, ../sass/partials/_global.scss */
  .endpage_cta h3 {
    font-size: 1.0625rem;
    line-height: 1.58824;
  }
  /* line 745, ../sass/partials/_global.scss */
  .endpage_cta p {
    font-size: 1.125rem;
    line-height: 1.44444;
  }
}
@media screen and (min-width: 1000px) {
  /* line 752, ../sass/partials/_global.scss */
  .mainnav_wrapper {
    padding: 0 45px;
  }

  /* line 755, ../sass/partials/_global.scss */
  h2 {
    font-size: 2.5rem;
    line-height: 1;
  }

  /* line 759, ../sass/partials/_global.scss */
  p {
    font-size: 1rem;
    line-height: 1.875;
  }

  /* line 764, ../sass/partials/_global.scss */
  .button:after {
    width: 8.9px;
    height: 13.4px;
  }

  /* line 769, ../sass/partials/_global.scss */
  .section {
    padding: 20px 60px;
  }

  /* :::::::::::::::::::::::::::::::::::::: Full width image CTA */
  /* line 773, ../sass/partials/_global.scss */
  .image_cta {
    position: relative;
    padding: 20px 60px 0 60px;
    max-width: 1400px;
    margin: 0 auto 70px;
  }
  /* line 778, ../sass/partials/_global.scss */
  .image_cta .image_cta_msg {
    position: absolute;
    bottom: 0;
    right: 60px;
    max-width: 486px;
    padding: 40px;
  }
  /* line 785, ../sass/partials/_global.scss */
  .image_cta img {
    display: block;
  }
  /* line 788, ../sass/partials/_global.scss */
  .image_cta p {
    font-size: 0.9375rem;
    line-height: 1.66667;
  }

  /* :::::::::::::::::::::::::::::::::::::: Collapsible section */
  /* line 794, ../sass/partials/_global.scss */
  .collapsible_section {
    overflow: hidden;
    max-width: 1400px;
    margin: 0 auto 70px;
  }
  /* line 798, ../sass/partials/_global.scss */
  .collapsible_section .section_col1 {
    width: 40%;
    float: left;
    padding-right: 40px;
  }
  /* line 803, ../sass/partials/_global.scss */
  .collapsible_section .section_col2 {
    width: 60%;
    float: right;
  }

  /* line 808, ../sass/partials/_global.scss */
  .collapsible_wrapper {
    padding: 35px 45px;
  }

  /* line 812, ../sass/partials/_global.scss */
  .collapsible_item.open h3 {
    font-size: 1.5625rem;
    line-height: 0.88;
  }
  /* line 816, ../sass/partials/_global.scss */
  .collapsible_item h3 {
    font-size: 1rem;
    line-height: 1.375;
  }

  /* :::::::::::::::::::::::::::::::::::::: Endpage CTA */
  /* line 823, ../sass/partials/_global.scss */
  .endpage_cta h2 {
    font-size: 2.5rem;
    line-height: 0.625;
  }
  /* line 827, ../sass/partials/_global.scss */
  .endpage_cta h3 {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media screen and (min-width: 1200px) {
  /* line 834, ../sass/partials/_global.scss */
  h2 {
    font-size: 2.875rem;
    line-height: 0.97826;
  }

  /* line 838, ../sass/partials/_global.scss */
  .menubtn {
    display: none;
  }

  /* line 841, ../sass/partials/_global.scss */
  .quicklinks_mobile {
    display: none;
  }

  /* line 844, ../sass/partials/_global.scss */
  .quicklinks_desktop {
    display: block;
  }

  /* line 847, ../sass/partials/_global.scss */
  .quicklinks {
    display: block;
    text-align: right;
    padding: 0 60px;
    opacity: 0;
    -webkit-animation: fade 1s ease 1;
    -moz-animation: fade 1s ease 1;
    animation: fade 1s ease 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  /* line 857, ../sass/partials/_global.scss */
  .quicklinks a {
    display: inline-block;
    margin-left: 30px;
  }
  /* line 860, ../sass/partials/_global.scss */
  .quicklinks a:last-child {
    padding-right: 0;
  }

  /* line 865, ../sass/partials/_global.scss */
  .mainnav_wrapper {
    border-top: 0;
    overflow: hidden;
    padding: 0 60px;
  }

  /* line 870, ../sass/partials/_global.scss */
  .mainnav_inside {
    float: left;
    padding: 18px 15px 18px 0;
  }

  /* line 874, ../sass/partials/_global.scss */
  nav {
    display: block;
    width: auto;
    position: static;
    clear: none;
    padding-top: 14px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0;
    -webkit-animation: fade 1s ease 1;
    -moz-animation: fade 1s ease 1;
    animation: fade 1s ease 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  /* line 887, ../sass/partials/_global.scss */
  nav ul {
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
  }
  /* line 892, ../sass/partials/_global.scss */
  nav li {
    display: inline-block;
    border-bottom: 0;
  }
  /* line 895, ../sass/partials/_global.scss */
  nav li a {
    border-left: 0;
    padding: 28px 10px 37px 10px;
  }
  /* line 898, ../sass/partials/_global.scss */
  nav li a:hover {
    border-left: 0;
  }
  /* line 903, ../sass/partials/_global.scss */
  nav li:last-child a {
    padding-right: 0;
  }

  /* line 910, ../sass/partials/_global.scss */
  .no-flexbox nav {
    float: right;
  }
  /* line 912, ../sass/partials/_global.scss */
  .no-flexbox nav ul {
    display: block;
  }
  /* line 914, ../sass/partials/_global.scss */
  .no-flexbox nav ul li {
    padding-right: 15px;
  }
  /* line 917, ../sass/partials/_global.scss */
  .no-flexbox nav ul ul {
    display: none;
  }

  /* line 923, ../sass/partials/_global.scss */
  .section_imgoverlap {
    position: relative;
    padding-top: 75px;
  }
  /* line 926, ../sass/partials/_global.scss */
  .section_imgoverlap .section_contentbox {
    padding: 45px 0 45px 45px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* :::::::::::::::::::::::::::::::::::::: Endpage CTA */
  /* line 936, ../sass/partials/_global.scss */
  .endpage_cta h2 {
    font-size: 3.125rem;
    line-height: 0.68;
    letter-spacing: 0.03em;
  }
  /* line 941, ../sass/partials/_global.scss */
  .endpage_cta h3 {
    font-size: 1.5625rem;
    line-height: 1.36;
    letter-spacing: 0.1em;
  }
}
@media screen and (min-width: 1300px) {
  /* line 949, ../sass/partials/_global.scss */
  .footer_links {
    width: auto;
    padding-right: 3%;
  }

  /* line 953, ../sass/partials/_global.scss */
  .btn_quicklinks {
    width: 280px;
    float: left;
  }

  /* line 957, ../sass/partials/_global.scss */
  .up_logo {
    float: right;
    clear: none;
  }

  /* line 962, ../sass/partials/_global.scss */
  .social_links a {
    padding: 10px 4px;
  }
  /* line 966, ../sass/partials/_global.scss */
  .social_links .facebook svg, .social_links .twitter svg, .social_links .instagram svg, .social_links .linkedin svg {
    width: 14px;
    height: 14px;
  }

  /* line 973, ../sass/partials/_global.scss */
  .footer_wrapper .logo {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 979, ../sass/partials/_global.scss */
  .footer_links {
    padding-right: 6%;
  }

  /* line 983, ../sass/partials/_global.scss */
  .footer_wrapper .logo {
    margin-right: 60px;
  }
}
/* Page specific styles */
/* line 1, ../sass/pages/_home.scss */
.main_section_wrapper {
  padding: 0 25px 25px;
}

/* line 4, ../sass/pages/_home.scss */
.main_section {
  position: relative;
  overflow: hidden;
  height: calc(85vh - 115px);
  max-height: 600px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
}
/* line 12, ../sass/pages/_home.scss */
.main_section:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: -moz-linear-gradient(-45deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  background: -webkit-linear-gradient(-45deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  background: linear-gradient(135deg, #333e48 0%, #333e48 32%, #354f5f 42%, rgba(64, 180, 229, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#b340b4e5',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}
/* line 31, ../sass/pages/_home.scss */
.main_section:after {
  content: '';
  display: block;
  height: 100%;
  max-width: 250px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -400px;
  width: 100%;
  background: url(../images/logooverlay.png) no-repeat left center;
  background-size: contain;
  -webkit-animation: slideinleft .7s ease 1;
  -moz-animation: slideinleft .7s ease 1;
  animation: slideinleft .7s ease 1;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

/* line 50, ../sass/pages/_home.scss */
.main_section_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/placeholder_homeheader.jpg) no-repeat center center;
  background-size: cover;
  -webkit-animation: zoom 1s ease 1;
  -moz-animation: zoom 1s ease 1;
  animation: zoom 1s ease 1;
}

/* line 62, ../sass/pages/_home.scss */
.main_section_text {
  z-index: 3;
  text-align: center;
  position: relative;
  color: #ffffff;
  padding-top: 100px;
  width: 100%;
  opacity: 0;
  -webkit-animation: fadeinup .5s ease 1;
  -moz-animation: fadeinup .5s ease 1;
  animation: fadeinup .5s ease 1;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
/* line 75, ../sass/pages/_home.scss */
.main_section_text h1 {
  color: #ffffff;
  font-size: 2.375rem;
  line-height: 0.94737;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 84, ../sass/pages/_home.scss */
.main_section_text h2 {
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0.08em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}

/* line 96, ../sass/pages/_home.scss */
.no-cssgrid .main_section {
  display: table;
  width: 100%;
}
/* line 100, ../sass/pages/_home.scss */
.no-cssgrid .main_section_text {
  display: table-cell;
  vertical-align: middle;
}

/* :::::::::::::::::::::::::::::::::::::: Challenges Section */
/* line 106, ../sass/pages/_home.scss */
.desktopbtn, .challenge .popupcta {
  display: none;
}

/* line 110, ../sass/pages/_home.scss */
.section_challenges .mobilebtn {
  width: 290px;
  margin: 0 auto;
  display: block;
}

/* line 116, ../sass/pages/_home.scss */
.challenge_description {
  display: none;
}

/* line 119, ../sass/pages/_home.scss */
.gradient_icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  display: block;
  background: #333e48;
  background: -webkit-linear-gradient(bottom left, #333e48 29%, #40b4e5 63%);
  background: -o-linear-gradient(bottom left, #333e48 29%, #40b4e5 63%);
  background: linear-gradient(to top right, #333e48 29%, #40b4e5 63%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#40b4e5',GradientType=1 );
  cursor: pointer;
  position: relative;
  background-size: 600% 600%;
  -webkit-animation: Gradient 4s ease infinite;
  -moz-animation: Gradient 4s ease infinite;
  animation: Gradient 4s ease infinite;
}
/* line 134, ../sass/pages/_home.scss */
.gradient_icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s ease;
  background: #f7b352;
  background: -moz-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  background: -webkit-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  background: linear-gradient(135deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b352', endColorstr='#b27725',GradientType=1 );
  background-size: 600% 600%;
  -webkit-animation: Gradient 4s ease infinite;
  -moz-animation: Gradient 4s ease infinite;
  animation: Gradient 4s ease infinite;
}
/* line 153, ../sass/pages/_home.scss */
.gradient_icon svg, .gradient_icon img {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 3;
}

/* line 161, ../sass/pages/_home.scss */
.challenges_wrappers {
  padding: 20px 0;
  margin: 0 -10px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* line 170, ../sass/pages/_home.scss */
.challenge {
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: calc(50% - 22px);
  height: calc((100vw - 72px) / 2);
  justify-content: center;
  flex-direction: column;
  margin: 0 10px 20px;
  align-content: center;
  text-decoration: none;
  border: 1px solid #ffffff;
}
/* line 182, ../sass/pages/_home.scss */
.challenge:nth-child(2n) .gradient_icon {
  animation-delay: .3s;
}
/* line 185, ../sass/pages/_home.scss */
.challenge:nth-child(3n) .gradient_icon {
  animation-delay: .9s;
}
/* line 188, ../sass/pages/_home.scss */
.challenge:nth-child(4n) .gradient_icon {
  animation-delay: .7s;
}
/* line 191, ../sass/pages/_home.scss */
.challenge:nth-child(5n) .gradient_icon {
  animation-delay: .5s;
}
/* line 194, ../sass/pages/_home.scss */
.challenge:hover {
  border: 1px solid #F7B352;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.16);
}
/* line 198, ../sass/pages/_home.scss */
.challenge:hover .gradient_icon:before {
  opacity: 1;
}
/* line 202, ../sass/pages/_home.scss */
.challenge:hover h3 {
  color: #F7B352;
}
/* line 206, ../sass/pages/_home.scss */
.challenge h3 {
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 0.875rem;
  line-height: 1.14286;
  letter-spacing: 0.12em;
}

/* line 216, ../sass/pages/_home.scss */
.no-flexbox .challenges_wrappers {
  display: block;
}

@media screen and (min-width: 550px) {
  /* line 221, ../sass/pages/_home.scss */
  .challenge {
    flex-basis: calc(33% - 19px);
    height: calc((100vw - 72px) / 3);
  }

  /* line 226, ../sass/pages/_home.scss */
  .no-flexbox .challenge {
    width: 30%;
  }
}
@media screen and (min-width: 800px) {
  /* line 232, ../sass/pages/_home.scss */
  .home .section_imgoverlap {
    margin-bottom: 40px;
  }
  /* line 234, ../sass/pages/_home.scss */
  .home .section_imgoverlap .section_image {
    max-width: 975px;
    width: 75%;
  }
  /* line 238, ../sass/pages/_home.scss */
  .home .section_imgoverlap .section_contentbox {
    max-width: 486px;
  }

  /* line 242, ../sass/pages/_home.scss */
  .section_challenges {
    max-width: 1400px;
    margin: 0 auto;
  }
  /* line 245, ../sass/pages/_home.scss */
  .section_challenges h2, .section_challenges p {
    float: left;
    clear: left;
  }
  /* line 249, ../sass/pages/_home.scss */
  .section_challenges .backuptitle {
    display: none;
  }
  /* line 252, ../sass/pages/_home.scss */
  .section_challenges .desktopbtn {
    float: right;
    display: block;
    margin-top: 10px;
  }

  /* line 258, ../sass/pages/_home.scss */
  .challenges_wrappers {
    clear: both;
  }
}
@media screen and (min-width: 1000px) {
  /* line 263, ../sass/pages/_home.scss */
  .main_section {
    height: calc(100vh - 107px);
    max-height: 950px;
  }
  /* line 266, ../sass/pages/_home.scss */
  .main_section:after {
    max-width: 410px;
  }

  /* line 270, ../sass/pages/_home.scss */
  .main_section_wrapper {
    padding: 0 60px;
  }

  /* line 273, ../sass/pages/_home.scss */
  .main_section_text {
    padding-top: 130px;
  }
  /* line 275, ../sass/pages/_home.scss */
  .main_section_text h1 {
    font-size: 3.125rem;
    line-height: 0.6;
    letter-spacing: 0.025em;
    margin-bottom: 13px;
  }
  /* line 281, ../sass/pages/_home.scss */
  .main_section_text h2 {
    font-size: 1.4375rem;
    line-height: 1.30435;
    letter-spacing: 0.08em;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1100px) {
  /* line 290, ../sass/pages/_home.scss */
  .challenges_wrappers {
    margin: 0 -22px;
  }

  /* line 293, ../sass/pages/_home.scss */
  .challenge {
    padding: 2px;
    justify-content: flex-start;
    border-width: 0;
    border-color: transparent;
    border-bottom: 10px solid #F7B352;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    height: 390px;
    width: 100%;
    flex-basis: calc(33% - 40px);
    margin: 0 20px 50px;
  }
  /* line 308, ../sass/pages/_home.scss */
  .challenge:hover {
    padding: 0;
    transform: scale(1.05);
    border-width: 2px 2px 2px 2px;
  }
  /* line 313, ../sass/pages/_home.scss */
  .challenge .challenge_inside {
    padding: 40px 25px 53px;
    width: 100%;
  }
  /* line 317, ../sass/pages/_home.scss */
  .challenge h3 {
    font-size: 1rem;
    line-height: 1.375;
  }
  /* line 321, ../sass/pages/_home.scss */
  .challenge .popupcta {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: -100px;
    left: 0;
    width: 100%;
    background: #F7B352;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 0.9375rem;
    line-height: 1.26667;
    letter-spacing: 0.12em;
    color: #ffffff;
    padding: 22px 20px;
    background: #f7b352;
    background: -moz-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
    background: -webkit-linear-gradient(-45deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
    background: linear-gradient(135deg, #f7b352 20%, #f2ddc4 44%, #b27725 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b352', endColorstr='#b27725',GradientType=1 );
    background-size: 600% 600%;
    -webkit-animation: Gradient 8s ease infinite;
    -moz-animation: Gradient 8s ease infinite;
    animation: Gradient 8s ease infinite;
  }
  /* line 343, ../sass/pages/_home.scss */
  .challenge .popupcta:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 7.5px;
    height: 11.5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: url(../images/icon-rightarrow.svg) no-repeat top left;
  }
  /* line 354, ../sass/pages/_home.scss */
  .challenge:hover .popupcta {
    bottom: 0;
  }

  /* line 359, ../sass/pages/_home.scss */
  .challenge_description, .popupcta {
    display: block;
  }

  /* line 362, ../sass/pages/_home.scss */
  .section_challenges .mobilebtn {
    display: none;
  }

  /* line 365, ../sass/pages/_home.scss */
  .challenge_description p {
    text-transform: none;
    float: none;
    font-size: 0.875rem;
    line-height: 1.85714;
  }

  /* line 371, ../sass/pages/_home.scss */
  .gradient_icon {
    width: 70px;
    height: 70px;
  }
  /* line 374, ../sass/pages/_home.scss */
  .gradient_icon img, .gradient_icon svg {
    width: 70px;
    height: 70px;
  }

  /* line 380, ../sass/pages/_home.scss */
  .no-flexbox .challenge {
    width: 27%;
    float: left;
  }
  /* line 383, ../sass/pages/_home.scss */
  .no-flexbox .challenge a {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  /* line 390, ../sass/pages/_home.scss */
  .main_section {
    height: 550px;
    height: calc(100vh - 134px);
  }

  /* line 395, ../sass/pages/_home.scss */
  .main_section_text h1 {
    font-size: 3.75rem;
    line-height: 0.6;
    letter-spacing: 0.03em;
  }
  /* line 400, ../sass/pages/_home.scss */
  .main_section_text h2 {
    font-size: 1.75rem;
    line-height: 1.28571;
    letter-spacing: 0.1em;
  }

  /* line 406, ../sass/pages/_home.scss */
  .challenges_wrappers {
    margin: 0 -5px;
  }

  /* line 409, ../sass/pages/_home.scss */
  .challenge {
    flex-basis: calc(30% - 30px);
    margin: 0 50px 70px;
  }
  /* line 412, ../sass/pages/_home.scss */
  .challenge:first-child {
    margin-left: 0;
  }
  /* line 415, ../sass/pages/_home.scss */
  .challenge:nth-child(3n) {
    margin-right: 0;
  }
}
